{% extends "base.tpl" %}

{% block header %}
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.1.min.css">
{% endblock %}

{% block content %}
<form action="/search" method="GET">
  <div>
    <label for="author">YT Username</label>
    <input type="text" 
           class="field" 
           name="author" 
           autocomplete="off"
           autocorrect="off"
           value="{{ author }}" 
           id="author">
    <a href="javascript:" field="#author" class="clear">clear</a>
  </div>

  <div>
    <label for="filter">Filter</label>
    <input type="text" 
           class="field" 
           name="filter" 
           value="{{ filter_string }}" 
           id="filter">
    <a href="javascript:" field="#filter" class="clear">clear</a>
  </div>
  <div align='center'>
    <input type="submit" 
           value="Search" 
           class="btn primary"
           id="submit">
    <a href="javascript:" field='#author, #filter' class='clear'>clear</a>
  </div>
</form>

<div id="past-searches">
  {% for author in searches %}
    <ul><span class="author">{{ author }}</span>
    {% for query in searches[author] %}
      <li>
        <a href="/search?author={{ author }}&filter={{ query }}">{{ query }}</a>
      </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>

{% if results %}
<div id="results">
  <strong>{{ results_count }} Results</strong>
  
  {% for result in results %}
  <a href="{{ result.GetHtmlLink().href }}">
    <div class="result">
        <div class="thumbnail">
          <img height="55" src="{{ result.media.thumbnail[0].url }}" />
        </div>
        <div class="link">
          <span>
            {{ result.title.text.decode('utf-8') }}
          </span>
        </div>
    </div>
  </a>
  <br class="clear" />
  {% endfor %}
</div>
{% endif %}
{% endblock %}