{% extends "base.tpl" %}

{% block header %}
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.1.min.css">
{% endblock %}

{% block content %}
<form action="/search" method="GET">
  <div>
    <label for="author">YT Username</label>
    <input type="text" 
           class="field" 
           name="author" 
           value="{{ author }}" 
           id="author">
  </div>

  <div>
    <label for="filter">Filter</label>
    <input type="text" 
           class="field" 
           name="filter" 
           value="{{ filter_string }}" 
           id="filter">
  </div>

    <input type="submit" 
           value="Search" 
           class="btn primary"
           id="submit">
</form>

<div id="results">
  <strong>{{ results|count }} Results</strong>
  
  {% for result in results %}
  <a href="{{ result.GetHtmlLink().href }}">
    <div class="result">
        <div class="thumbnail">
          <img width="75" src="{{ result.media.thumbnail[0].url }}" />
        </div>
        <div class="link">
          <a href="{{ result.GetHtmlLink().href }}">{{ result.title.text }}</a>
        </div>
    </div>
  </a>
  <br class="clear" />
  {% endfor %}
</div>
{% endblock %}