{% extends "base.tpl" %}

{% block header %}
    <link rel="stylesheet" href="/static/css/bootstrap.css">
{% endblock %}

{% block content %}
<form action="/search" method="GET">
  <div>
    <label for="author">YT Username</label>
    <input type="text" 
           class="field" 
           name="author" 
           autocomplete="off"
           autocorrect="off"
           value="{{ author }}" 
           id="author">
    <a href="javascript:" field="#author" class="clear">clear</a>
  </div>

  <div>
    <label for="filter">Filter</label>
    <input type="text" 
           class="field" 
           name="filter" 
           value="{{ filter_string }}" 
           id="filter">
    <a href="javascript:" field="#filter" class="clear">clear</a>
  </div>
  <div align='center'>
    <input type="submit" 
           value="Search" 
           class="btn primary"
           id="submit">
    <a href="javascript:" field='#author, #filter' class='clear'>clear</a>
  </div>
</form>

<div id="past-searches">
  {% for author in searches %}
    <ul><span class="author">{{ author }}</span>
    {% for query in searches[author] %}
      <li>
        <a href="/search?author={{ author }}&filter={{ query }}">{{ query|default(author+" (no filter)", true) }}</a>
      </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>

{% if results %}
<div id="results">
  <strong>{{ results_count }} Results</strong>
  
  {% for result in results %}
    <div class="result">
        <div class="thumbnail">
          <!-- <iframe id="ytplayer" 
                            type="text/html" 
                            width="640" 
                            height="390"
                            src="{{ result.media.player.url }}"
                            frameborder="0"></iframe> -->
            <iframe class="youtube-player" type="text/html" width="550" height="385" 
            src="http://www.youtube.com/embed/{{ result.media.videoid }}" frameborder="0">
            </iframe>
        </div>
        <div class="link">
          <a href="{{ result.GetHtmlLink().href }}">
            {{ result.title.text.decode('utf-8') }}
          </a>
        </div>
    </div>
  <br class="clear" />
  {% endfor %}
</div>
{% endif %}
{% endblock %}