.clear {
    clear: both;
}
html body {
    margin: 8px;
    font-size: 15px;
}
#content {
    width: 550px;
    margin: 0 auto;
}
#content .field {
    width: 300px;
    font-size: 19px;
    padding: 3px;
    margin: 5px;
    height: auto;
}
#content form .primary {
    width: 100px;
}
a {
    text-decoration: none;
}
a:link {
    color: blue;
}
a:visited {
    color: gray;
}
#results a:hover {
    text-decoration: none;
}
div.result:hover {
    background-color: #efefef;
    border-radius: 5px;
}
.result div {
    float: left;
}
.result {
    height: 55px;
}
.result .link {
    margin: 20px 0 0 10px;
    font-weight: bold;
    width: 450px;
}
#past-searches {
    width: 250px;
    height: 100px;
    overflow: auto;
    margin: 10px auto;
}
#past-searches li {
    list-style: none;
}
#past-searches .author {
    color: black;
    font-weight: bold;
}